<!DOCTYPE html>
<html>
  <head>
    <title>The Rabbit Hole</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <link rel="stylesheet" href="/stylesheets/home.css" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Fleur+De+Leah&display=swap" rel="stylesheet">
  </head>
  <body>
    <header>
      <div>
        <h1>The Rabbit Hole</h1>
      </div> 
      <% if (user) { %>
      <div id="user-info">
        <p><%= user %></p> <br>
        <form action="/logout" method="POST">
          <button type="submit">Logout</button>
        </form>
      </div>
      <% } %>
      <div id="navbar">
        <nav>
        <ul>
          <li><a href="/">Home</a></li>
          <% if (!user) { %>
          <li><a href="/login">Login</a></li>
          <li><a href="/register">Register</a></li>
          <% } %>
          <% if (admin) { %>
          <li><a href="/CreatePost">Create Post</a></li>
          <% } %>
        </ul>
      </nav>
      </div>
     
      <hr>
    </header>
    <main>
      <div></div>
      <div id="blog-container">
        <h2>Posts</h2>
        <ul>
          <% posts.forEach(post => { %>
            <li class="blog-post" id="post-<%= post['ID'] %>">
              <h3><%= post['title'] %></h3>
              <p><%= post['preview'] %></p>
              <a href="/posts/<%= post['ID'] %>">Read more</a>
            </li>
          <% }) %>
        </ul>
      </div>
    </main>
    <footer>
      
    </footer>
  </body>
</html>
